*.iml
.idea
target/*

# Front end tools dirs
/src/main/webapp/typings/
/src/main/webapp/node_modules/
/src/main/webapp/node/

# Webpack build files
/src/main/webapp/dist/
/src/main/webapp/index.html
**/npm-debug.log
