<h2>Letter creation</h2>
<form role="form" ng-submit="submitLetter()" name="letterForm" novalidate>
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" class="form-control" id="subject" name="subject" ng-model="letter.subject"/>
    </div>
    <div class="form-group">
        <label for="body">Body:</label>
        <textarea class="form-control" rows="10" cols="50" id="body" name="body" ng-model="letter.body">
        </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-primary">Reset</button>
</form>