<div class="alert alert-danger" ng-show="registrationError">
    {{ registrationError }}
</div>
<form role="form" ng-submit="register()" name="registrationForm" novalidate>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" ng-model="credentials.username"/>
        <div class="alert alert-danger" ng-show="registrationForm.username.$dirty&&!isUsernameValid()">
            {{usernameErrorMessage}}
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="credentials.email"/>
        <div class="alert alert-danger" ng-show="registrationForm.email.$dirty&&!isEmailValid()">{{emailErrorMessage}}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="credentials.password"/>
    </div>
    <button type="submit" ng-disabled="!isFormValid()" class="btn btn-primary">Submit</button>
</form>